---
title: CL-Verkehrstechnik | Unsere Leistungen
---
{% extends "./_includes/base.njk" %}
{% block content %}
<div class="aboutus services">
  <div class="sideshow-container">
    <button class="prev" onclick="scrollSlides(-1)">❮</button>
    <div class="sideshow-pictures">
      <div id="slide-1">
        <img src="/static/images/plan.jpeg" alt="Bild 1">
      </div>
      <div id="slide-2">
        <img src="/static/images/plan2.jpeg" alt="Bild 2">
      </div>
      <div id="slide-3">
        <img src="/static/images/plan3.png" alt="Bild 3">
      </div>
    </div>
    <button class="next" onclick="scrollSlides(1)">❯</button>
  </div>
  <div class="text animate hidden">
    <h1>Unsere Leistungen</h1>
    <div class="services-container">
      <ul>
        <li>
          <img src="/static/images/check.png" loading="lazy" alt="Checkmark">
          <div class="text">
            Verkehrszeichenpläne und Genehmigungsverfahren
          </div>
        </li>
        <li>
          <img src="/static/images/check.png" loading="lazy" alt="Checkmark">
          <div class="text">
            RSA 21-Seminare – Fachwissen für sichere Verkehrsführungen
          </div>
        </li>
        <li>
          <img src="/static/images/check.png" loading="lazy" alt="Checkmark">
          <div class="text">
            Erstellung und Produktion von Planskizzen und Hinweistafeln
          </div>
        </li>
      </ul>
    </div>

    <h3>Verkehrszeichenpläne und Genehmigungsverfahren</h3>
    <p>Dank unserer langjährigen Berufserfahrung in einer mittleren Stadt Nordrhein-Westfalens im Bereich der
      Verkehrsbehörde haben wir uns entschlossen, die CL-Verkehrstechnik GbR in Eschweiler zu gründen.</p>

    <p>Seit unserer Gründung haben wir uns als zuverlässiger und kompetenter Dienstleister etabliert. Unser Anspruch ist
      es, unseren Kunden maßgeschneiderte, professionelle und präzise Verkehrszeichenpläne zu bieten.</p>

    <p>Die Erstellung der Pläne, sowie das Einholen der Genehmigungen sind mit einigem Aufwand und Zeit verbunden. Gerne
      beraten wir Sie und übernehmen die Erstellung der Verkehrszeichenpläne sowie das Genehmigungsverfahren.</p>

    <p>Sind Sie auf der Suche nach einem erfahrenen und gut vernetzten Partner für die Erstellung von
      Verkehrszeichenplänen oder die Einholung behördlicher Genehmigungen? Dann stehen wir Ihnen gerne telefonisch, per
      E-Mail oder über unser Kontaktformular zur Verfügung.</p>

    <h3>RSA 21-Seminare – Fachwissen für sichere Verkehrsführungen</h3>
    <p>Wir bieten praxisnahe Seminare zur RSA 21 (Richtlinien für die Sicherung von Arbeitsstellen an Straßen) an.
      Unsere Schulungen richten sich an Bauleiter, Planer, Behördenvertreter sowie alle, die mit der Verkehrslenkung an
      Baustellen befasst sind. Ziel ist es, fundiertes Wissen zu vermitteln, um Verkehrsmaßnahmen rechtssicher und
      effizient umzusetzen.</p>
    <p>Inhalte der Seminare:</p>
    <ul>
      <li>Einführung in die RSA 21 und relevante Vorschriften</li>
      <li>Anforderungen an Absicherung und Beschilderung</li>
      <li>Planung und Umsetzung temporärer Verkehrsführungen</li>
      <li>Praxisbeispiele und typische Fehlerquellen</li>
    </ul>
    <p>Profitieren Sie von unserem Know-how und bereiten Sie sich optimal auf Ihre Aufgaben im Bereich Verkehrssicherung
      vor!</p>
    <p>Neben Einzelanmeldungen bieten wir auch maßgeschneiderte Gruppenseminare an, auf Wunsch direkt bei Ihnen vor Ort
      oder online.</p>
    <p>Wenn Sie Interesse haben, kontaktieren Sie uns gerne telefonisch oder über das Kontaktformular. Wir beraten Sie
      auch hier individuell und erstellen ein passendes Angebot.</p>

    <h3>Planskizzen und Hinweistafeln erstellen und produzieren</h3>
    <p>Ein effizienter Verkehrsfluss beginnt bereits bei der Planung der Verkehrsführung. Wir erstellen Planskizzen und
      Hinweistafeln nach RSA 21 (Richtlinien für die Sicherung von Arbeitsstellen an Straßen). Darüber hinaus bieten wir
      Ihnen die Möglichkeit, diese Unterlagen und Tafeln durch unsere qualifizierten und zertifizierten Partner
      professionell fertigen zu lassen.</p>
    <p>Gerne beraten wir Sie individuell und entwickeln gemeinsam die optimale Lösung, basierend auf den spezifischen
      Anforderungen der jeweiligen Baumaßnahme und der geltenden gesetzlichen Bestimmungen. Dies umfasst sowohl
      Verkehrstafeln als auch Planunterlagen, etwa für Sicherheitshinweise oder Umleitungsbeschilderungen.</p>
  </div>
  <a class="sectwobutton" href="/contact/">Zum Kontaktformular</a>

</div>
<div class="spacer"></div>
{% endblock %}
